<script>
$(document).ready(function() {
   $('#area').toggle();
   });

   $(function() {
      $('#test').click(function() {
           $('#area').toggle();
	      });
	      });
</script>

<div id="test">hey how are u dude</div>

<div id="area">
wasup gusdasd
adsadsadasd
asdasdasd
</div>
